[submodule "vim/bundle/vim-multiple-cursors"]
	path = vim/bundle/vim-multiple-cursors
	url = https://github.com/terryma/vim-multiple-cursors.git
[submodule "setup/vim/bundle/vim-multiple-cursors"]
	path = setup/vim/bundle/vim-multiple-cursors
	url = https://github.com/terryma/vim-multiple-cursors.git
